/*
	General styles
*/
*{
	box-sizing: border-box;
}
body {
	 /* background-color: #0A0909; */
	/* background-color: #292D32;  */
	background-color: rgb(32, 31, 31);
	/* background-image: url("../skyline-resized.png"); */
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	font-size: 20px;
	color: white;
	font-family: "Titillium", sans-serif;
}

body, html {
	height: 100%
}
table {
    color: #a9a8a8
}
p, h1 {
	color: #a9a8a8;
	font-size: 3em;
	font-family: "Assistant 700", sans-serif;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-left: 0.4em;
}

p{
	font-size: 2em;
}

img{
	display: inline;
}

figure{
	display: inline;
}

.bordeaux {
	background-color: #000;
}

main h1{
	color: white;
	font-size: 3.5em;
}
h2 {
	font-size: 20px;
}
a, a:visited {
	text-decoration: none;
	color: #fff;
	margin-top: 2em;
	border: solid #fff 0.1em;
	border-radius: 1em;
	padding: 1em;
}
a:hover {
	text-decoration: underline;
}
img{
	max-width: 80%;
}

#vertical{
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;

}
.iconAnimation img {
	visibility: hidden;
}
.icons, nav{
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
}


.panel {
	text-align: center;
	position: relative;
	height: 100%;
	min-height: 500px;
	min-width: 100%;
	height: 100vh;
}

#wrapper .scrollContent, #wrapper.horizontal .scrollContent {
	font-size: 0;
}
#wrapper .scrollContent div, section, footer {
	font-size: 13px;
}

small{
    font-size: 0.5em;
}

section#titlechart {
	text-align: center;
	position: relative;
	height: 100%;
	min-height: 500px;
	min-width: 100%;
	height: 100vh;

	display: grid;
}

nav ul li{
    list-style: none;
    padding-right: 0.5em;
    font-size: 0.6em;

}

#developers{
	background-image: url("../GIFs/code_background.gif")
}

nav ul li a:hover{
    background-color: white;
    color: black;
}
.code{
	background-image: url("../GIFs/background.gif")
}
#developers {
	background-image: url("../GIFs/code_background.gif")
}
nav {
    padding-left: 15em;
}
#memes{
	background-image: url("../GIFs/meme_example.gif")
}
/* CSS Animations */
#animate1 {
    transition: transform 0.3s ease-out;
}
.zap {
    transform: scale(2.5, 0);
}
.box1 {
	display: inline-block;
	position: relative;
	border-radius: 8px;
	border: 0px solid white;
	text-align: center;
	vertical-align: middle;
	padding: 0 5px;
}
.box1 {
	min-width: 100px;
	height: 100px;
	margin: 0 auto 0 auto;
}
/* Mobile Responsiveness */
@media screen and (min-width: 20em) {
    nav ul li{
        display: block;
    }
    
    }
/* GRID LAYOUT FOR LANDING PANE */
@media screen and (min-width: 60em) {
    #landing {
	width: 100%;
	display: grid;
	grid-template-columns: 35% 65%;
	grid-template-rows: auto;
  grid-template-areas: "middle-left middle-right"
						"end1 end1"
	}

    p {
	grid-area: middle-left; 
    }
 
    figure {
        grid-area: middle-right;
    }
    table{
        grid-area: middle-right;
    }
	a {
		grid-area: middle-right;
	}

	.panel{
		display: grid;
		grid-template-columns: 65% 35%;
		grid-template-rows: auto;
  		grid-template-areas: "middle-left1 middle-right1"
    }
    
    header {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-areas: "top-left top-right"
    }

    table{
        grid-area: middle-right1
    }
    nav {
        grid-area: top-right;
    }
    .logo{
        grid-area: top-left;
    }
	.icons{
		grid-area: end1;
	}

	.panel figure {
		grid-area: middle-left1;
	}

	.panel p{
		grid-area: middle-right1;
    }

    nav ul li{
        display: inline;
    }
    
    
}  





section.panel.white{
	color: black
}


.blue {
	background-color: #1D1F21
}
.turqoise {
	background-color: #070F12;
	background-color: #3883d8;
}

.panel.blue p{
	color: black;
}


.brown {
	background-color: #a66f28;
}

.black {
	background-color: #000000;
}
.white {
	background-color: #292D32;
}
.red {
	background-color: #cf3535;
}
.green {
	background-color: #22d659;
}
.orange {
	background-color: #ea6300;
}
