/*
	General styles
*/
body {
	 background-color: #0A0909;
	/* background-color: #292D32; */
	/* background-image: url("../skyline-resized.png"); */
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	font-size: 20px;
	color: white;
	font-family: "Raleway", sans-serif;
}
body, html {
	height: 100%
}

p {
	color: #a9a8a8;
	font-size: 3em;
	font-family: "Assistant 700", sans-serif;
	margin-bottom: 0;
	padding-bottom: 0;
}

header h1 {
	margin: 1em;
    color: #4a4a4a;
    font-size: 2.5em;
    font-family: 'Titillium', sans-serif;
    font-weight: bold;
}
img{
	display: inline;
}

figure{
	display: inline;
}

.bordeaux {
	background-color: #000;
}


main h1{
	color: white;
	font-size: 3.5em;
}
h2 {
	font-size: 20px;
}
a, a:visited {
	text-decoration: none;
	color: #fff;
	margin-top: 2em;
	border: solid #fff 0.2em;
	border-radius: 1em;
	padding: 1em;
}
a:hover {
	text-decoration: underline;
}
img{
	max-width: 80%;
}

#vertical{
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;

}

.icons{
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
}
#content-wrapper, #wrapper {
	height: 100%;
}

#pinContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.panel {
	height: 100%;
	width: 100%;
	position: absolute;
}

/*
	Containers
*/

.scrollContainer {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%
}
.scrollContainer {
	height: 100%;
	margin: auto;
}
#wrapper .scrollContent {
	height: 100%;
}


#wrapper.scrollContainer .scrollContent {
	width: 100%;
	height: auto;
}

#wrapper .scrollContent, #wrapper.horizontal .scrollContent {
	font-size: 0;
}
#wrapper .scrollContent div {
	font-size: 13px;
}

section#titlechart {
	text-align: center;
	position: relative;
	height: 100%;
	min-height: 500px;
	min-width: 100%;
	height: 100vh;

	display: grid;
}

/* GRID LAYOUT FOR LANDING PANE */
@media screen and (min-width: 76em) {
    #landing {
	width: 100%;
	display: grid;
	grid-template-columns: 35% 65%;
	grid-template-rows: auto;
  grid-template-areas: "middle-left middle-right"
						"end1 end1"
	}

    p {
	grid-area: middle-left; 
    }
    figure {
        grid-area: middle-right;
	}
	a {
		grid-area: middle-right;
	}

	.panel{
		display: grid;
		grid-template-columns: 65% 35%;
		grid-template-rows: auto;
  		grid-template-areas: "middle-left1 middle-right1"
	}
	.icons{
		grid-area: end1;
	}

	.panel figure {
		grid-area: middle-left1;
	}

	.panel p{
		grid-area: middle-right1;
	}
}  

section.demo.doublewidth, .spacer.doublewidth {
	min-width: 200%;
}
.horizontal section.demo {
	text-align: inherit;
	white-space: nowrap;
}
.horizontal section.demo.fullwidth {
	min-width: 100%;
}

section.panel.white{
	color: black
}


.blue {
	background-color: #1D1F21
}
.turqoise {
	background-color: #070F12;
	background-color: #3883d8;
}

.panel.blue p{
	color: black;
}


.brown {
	background-color: #a66f28;
}

.black {
	background-color: #000000;
}
.white {
	background-color: #292D32;
}
.red {
	background-color: #cf3535;
}
.green {
	background-color: #22d659;
}
.orange {
	background-color: #ea6300;
}


.demo#section-wipes {
	height: 100%;
	width: 100%;
	background-image: none;
}